.language-menu.in {
    -webkit-transition: all .3s 0 ease-out;
    -moz-transition: all .3s 0 ease-out;
    -o-transition: all .3s 0 ease-out;
    -ms-transition: all .3s 0 ease-out;
    transition: all .3s 0 ease-out;
    -moz-transition-duration: .3s;
    -moz-transition-property: all;
    -moz-transition-delay: 0;
    -webkit-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-301px, 0, 0);
    -moz-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-301px, 0, 0);
    -ms-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-301px, 0, 0);
    transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-301px, 0, 0);
}

.language-menu {
    position: fixed;
    right: -301px;
    top: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    color: #42b574;
    font-size: 1.5em;
    font-family: 'proxima-bold';
    text-align: center;
    padding: 80px 0;
    border-left: 1px solid #ddd;
    z-index: 2000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 0 10%;
    -moz-transform-origin: 0 10%;
    -ms-transform-origin: 0 10%;
    transform-origin: 0 10%;
    -webkit-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
    -moz-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
    -ms-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
    transform: perspective(1000px) scale(1.3) rotateY(-80deg);
    -webkit-transition: all .4s 0 ease-in;
    -moz-transition: all .4s 0 ease-in;
    -o-transition: all .4s 0 ease-in;
    -ms-transition: all .4s 0 ease-in;
    transition: all .4s 0 ease-in;
    -moz-transition-duration: .4s;
    -moz-transition-property: all;
    -moz-transition-delay: 0;
}

.language-button {
    float: right;
    right: 0;
    margin-right: 1%;
    margin-top: 27px
}

.header .language-button {
    margin-top: 42px;
    margin-left: 10px;
    margin-right: 33px
}

.header.in {
    background: #fff;
    border-bottom: 1px solid #ddd
}

.sign-up-button, .sign-in-button, .language-button {
    position: relative;
    text-transform: none;
    letter-spacing: 0;
    -webkit-transition-duration: .2s !important;
    -moz-transition-duration: .2s !important;
    transition-duration: .2s !important;
    display: inline-block
}

}
.sign-up-button a, .sign-in-button a, .language-button a {
    margin-top: 20px;
    color: #fff
}

.language-button {
    text-transform: capitalize
}

.language-button a {
    color: #333
}

.sign-up-button {
    background: #42b574
}

.sign-up-button:hover {
    background-color: #79ccf2
}

a {
    text-decoration: none;
    font-size: 1em;
    color: #50524d
}

a.sign-in {
    color: #e04945;
    letter-spacing: .05em
}

a.sign-in:hover {
    color: #9083bc
}

a.sign-in:hover img {
    left: -5px
}

a.sign-in img {
    -webkit-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -moz-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -o-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -ms-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -moz-transition-duration: .1s;
    -moz-transition-property: all;
    -moz-transition-delay: 0;
    float: right;
    left: 0;
    position: relative;
    margin-left: 10px;
    margin-right: 2px
}

.language-menu {
    position: fixed;
    right: -301px;
    top: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    color: #42b574;
    font-size: 1.5em;
    font-family: 'proxima-bold';
    text-align: center;
    padding: 80px 0;
    border-left: 1px solid #ddd;
    z-index: 2000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 0 10%;
    -moz-transform-origin: 0 10%;
    -ms-transform-origin: 0 10%;
    transform-origin: 0 10%;
    -webkit-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
    -moz-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
    -ms-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
    transform: perspective(1000px) scale(1.3) rotateY(-80deg);
    -webkit-transition: all .4s 0 ease-in;
    -moz-transition: all .4s 0 ease-in;
    -o-transition: all .4s 0 ease-in;
    -ms-transition: all .4s 0 ease-in;
    transition: all .4s 0 ease-in;
    -moz-transition-duration: .4s;
    -moz-transition-property: all;
    -moz-transition-delay: 0
}

.language-menu .close {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #c7c7c7;
    cursor: pointer
}

.language-menu .close:hover {
    color: #434345
}

.language-menu .language {
    margin: 10px auto;
    display: inline-block;
    cursor: pointer
}

.language-menu .language:hover {
    color: #64aadd
}

.language-menu .language.active {
    color: #64aadd
}

.language-menu.in {
    -webkit-transition: all .3s 0 ease-out;
    -moz-transition: all .3s 0 ease-out;
    -o-transition: all .3s 0 ease-out;
    -ms-transition: all .3s 0 ease-out;
    transition: all .3s 0 ease-out;
    -moz-transition-duration: .3s;
    -moz-transition-property: all;
    -moz-transition-delay: 0;
    -webkit-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-301px, 0, 0);
    -moz-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-301px, 0, 0);
    -ms-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-301px, 0, 0);
    transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-301px, 0, 0)
}

.sidr {
    background: #434345;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    right: -260px;
    overflow-x: none;
    overflow-y: auto;
    text-align: left;
    -webkit-transition: all .4s 0 ease-in;
    -moz-transition: all .4s 0 ease-in;
    -o-transition: all .4s 0 ease-in;
    -ms-transition: all .4s 0 ease-in;
    transition: all .4s 0 ease-in;
    -moz-transition-duration: .4s;
    -moz-transition-property: all;
    -moz-transition-delay: 0
}

.sidr .sign-up-button, .sidr .sign-in-button {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px
}

.sidr .sidr-inner {
    padding: 0 0 15px
}

.sidr .sidr-inner > p {
    margin-left: 15px;
    margin-right: 15px
}

.sidr ul {
    list-style-type: none
}

.sidr ul .btn {
    position: relative;
    background-color: #64aadd;
    height: 41px;
    width: 130px;
    line-height: 41px;
    font-size: 11px;
    text-align: center;
    left: 0;
    top: 0;
    letter-spacing: .1em;
    border: none;
    -webkit-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -moz-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -o-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -ms-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -moz-transition-duration: .1s;
    -moz-transition-property: all;
    -moz-transition-delay: 0
}

.sidr ul .btn a {
    width: 100%;
    text-align: center;
    color: white
}

.sidr ul .btn:hover {
    background-color: #9083bc
}

.sidr ul .sign-in {
    margin-bottom: 40px
}

.sidr ul li {
    margin-top: 15px;
    letter-spacing: .05em
}

.sidr ul li.selected a {
    color: #ecedee
}

.sidr ul li a {
    font-size: 14px;
    color: #9b9b9b;
    padding: 15px 70px 20px 0px;
    -webkit-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -moz-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -o-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -ms-transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    transition: all .1s 0 cubic-bezier(.25, .25, .75, .75);
    -moz-transition-duration: .1s;
    -moz-transition-property: all;
    -moz-transition-delay: 0
}

.sidr ul li a:hover {
    color: #ecedee
}

.sidr ul a.menu-logo {
    text-align: center;
    padding-top: 20px
}

.sidr ul a.menu-logo img {
    width: 50px
}

.side-menu {
    z-index: 2000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 0 10%;
    -moz-transform-origin: 0 10%;
    -ms-transform-origin: 0 10%;
    transform-origin: 0 10%;
    -webkit-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
    -moz-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
    -ms-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
    transform: perspective(1000px) scale(1.3) rotateY(-80deg)
}

.side-menu.in {
    -webkit-transition: all .3s 0 ease-out;
    -moz-transition: all .3s 0 ease-out;
    -o-transition: all .3s 0 ease-out;
    -ms-transition: all .3s 0 ease-out;
    transition: all .3s 0 ease-out;
    -moz-transition-duration: .3s;
    -moz-transition-property: all;
    -moz-transition-delay: 0;
    -webkit-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-260px, 0, 0);
    -moz-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-260px, 0, 0);
    -ms-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-260px, 0, 0);
    transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-260px, 0, 0)
}

.header-buttons #menu-affordance {
    position: absolute;
    right: -10px;
    top: 10px;
    margin-top: -20px;
    padding: 20px 20px 20px 20px;
    display: none;
    cursor: pointer
}

.header-buttons #menu-affordance svg {
    width: 33px;
    height: 33px;
    fill: #55bbeb
}

.action-buttons {
    width: 201px;
    float: right
}

@media (max-width: 1024px) {
    .sign-up-button, .sign-in-button {
        display: none
    }

    .main-nav-items {
        display: none
    }

    .header-buttons #menu-affordance {
        display: inline-block;
        top: 30px
    }

    .header-buttons .action-buttons {
        display: none
    }

    .header .language-button {
        margin-right: 70px;
        margin-top: 37px;
        font-size: 1em;
        text-transform: capitalize
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .header {
        position: fixed;
        width: 100%;
        height: 106px;
        overflow: hidden;
        top: 0;
        background: #fff
    }

    .logo {
        margin-left: 0px
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .header {
        position: fixed;
        width: 100%;
        height: 106px;
        overflow: hidden;
        top: 0;
        background: #fff
    }

    .logo {
        margin-left: 0px
    }
}

@media (min-width: 320px) and (max-width: 875px) {
    .header-request-container {
        height: 90px
    }

    .header {
        position: fixed;
        width: 100%;
        height: 55px;
        overflow: hidden;
        top: 0;
        background: rgba(255, 255, 255, 0.7)
    }

    .header .sign-up-button, .header .sign-in-button {
        right: 48px;
        top: 11px;
        padding: 0px 9px
    }

    .header .language-button {
        margin-right: 60px;
        margin-top: 20px;
        font-size: .8em;
        text-transform: capitalize
    }

    .header .language-button a {
        padding: 20px
    }

    .header-container {
        height: 90px
    }

    .logo {
        width: 102px;
        height: 33px;
        background-size: 102px 33px;
        margin-left: 0px;
        margin-top: 11px;
        left: 10px
    }

    .header-buttons #menu-affordance {
        top: 10px
    }

    .sign-up-button, .sign-in-button {
        height: 30px;
        border: 2px solid #42b574;
        font-size: .8em;