
  <div class="p1-hero-wrapper shift-with-hiw">

  <video preload="auto" id="pretzel-video" height="50%" width="50%" autoplay="autoplay" loop>
    <source src="images/FRONTPAGE_WINEPOUR.mp4" type='video/mp4'>
  </video>
      </div>




<div class="row marketing">
  <h4>Innovative Services</h4>
  <p>
    We strive to provide the best service
  </p>

  <h4>Throw down some icons</h4>
  <p>
    Bootstrap glyphicons and such
  </p>

  <h4>Angularize</h4>
  <p>Get that routing stuff going by today and make the locations page work.</p>
</div>
